In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('data/titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [4]:
#purge dataset of identifying data
df = df.drop(['boat', 'body', 'name', 'home.dest', 'cabin', 'ticket'], axis=1)
df = df.dropna()

In [5]:
X = df.drop('survived', axis=1)
y = df.survived.astype(str)

In [6]:
for col in X.columns:
    if X[col].dtype == 'object':
        dummy = pd.get_dummies(X[col], drop_first=True)
        X = pd.merge(X.drop(col, axis=1), dummy, left_index=True, right_index=True)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, stratify=y)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

/Users/aaronfrederick/Desktop/3venv/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/aaronfrederick/Desktop/3venv/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/aaronfrederick/Desktop/3venv/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [15]:
logistic = LogisticRegression()
logistic.fit(X_train, y_train)
print(classification_report(y_test, logistic.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.80      0.83      0.81       185
         1.0       0.74      0.70      0.72       128

   micro avg       0.78      0.78      0.78       313
   macro avg       0.77      0.76      0.77       313
weighted avg       0.77      0.78      0.78       313

/Users/aaronfrederick/Desktop/3venv/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [16]:
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
print(classification_report(y_test, tree.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.77      0.78      0.78       185
         1.0       0.68      0.66      0.67       128

   micro avg       0.73      0.73      0.73       313
   macro avg       0.72      0.72      0.72       313
weighted avg       0.73      0.73      0.73       313

In [17]:
forest = RandomForestClassifier()
forest.fit(X_train,y_train)
print(classification_report(y_test, forest.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.80      0.86      0.83       185
         1.0       0.77      0.68      0.72       128

   micro avg       0.79      0.79      0.79       313
   macro avg       0.78      0.77      0.77       313
weighted avg       0.78      0.79      0.78       313

/Users/aaronfrederick/Desktop/3venv/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [18]:
svm = SVC()
svm.fit(X_train, y_train)
print(classification_report(y_test, svm.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.77      0.94      0.84       185
         1.0       0.87      0.59      0.70       128

   micro avg       0.80      0.80      0.80       313
   macro avg       0.82      0.76      0.77       313
weighted avg       0.81      0.80      0.79       313

In [19]:
naive_bayes = GaussianNB()
naive_bayes.fit(X_train, y_train)
print(classification_report(y_test, naive_bayes.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.81      0.79      0.80       185
         1.0       0.71      0.73      0.72       128

   micro avg       0.77      0.77      0.77       313
   macro avg       0.76      0.76      0.76       313
weighted avg       0.77      0.77      0.77       313

In [20]:
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
print(classification_report(y_test, knn.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.79      0.87      0.83       185
         1.0       0.78      0.67      0.72       128

   micro avg       0.79      0.79      0.79       313
   macro avg       0.79      0.77      0.78       313
weighted avg       0.79      0.79      0.79       313